<div nz-row class="form-layout">
  <div nz-col nzXs="0" nzSm="0" nzMd="4" nzLg="7" class="image-holder"></div>
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="17" class="form-holder">
    <div
      nz-col
      [nzMd]="{ span: 18, offset: 3 }"
      [nzSm]="{ span: 20, offset: 2 }"
      [nzXs]="{ span: 20, offset: 2 }"
      style="height: 100%"
    >
      <nz-tabset nzCentered [(nzSelectedIndex)]="index" style="height: 100%">
        <nz-tab [nzTitle]="dataDiri">
          <ng-template #dataDiri>
            <i nz-icon nzType="user"></i>
            Data Diri & Keperluan
          </ng-template>
          <app-form-section
            (entryFormDataPass)="entryFormDataPass($event)"
          ></app-form-section>
        </nz-tab>
        <nz-tab [nzTitle]="selfie" [nzDisabled]="tabs[0].disabled">
          <ng-template #selfie>
            <i nz-icon nzType="video-camera-add"></i>
            Selfie
          </ng-template>
          <ng-template nz-tab>
            <app-camera-section
              (imageBase64)="imageBase64($event)"
              (prevTab)="prevTab()"
            ></app-camera-section>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="ttd" [nzDisabled]="tabs[1].disabled">
          <ng-template #ttd>
            <i nz-icon nzType="highlight"></i>
            Tanda Tangan
          </ng-template>
          <app-signature-section
            (signatureDataPass)="signatureDataPass($event)"
            (prevTab)="prevTab()"
          ></app-signature-section>
        </nz-tab>
        <nz-tab [nzTitle]="verify" [nzDisabled]="tabs[2].disabled">
          <ng-template #verify>
            <i nz-icon nzType="verified"></i>
            Verify
          </ng-template>
          <ng-template nz-tab>
            <app-verify-section
              (submitEvent)="submitEvent()"
              (prevTab)="prevTab()"
              (tabImage)="tabImage()"
            ></app-verify-section>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
