<nz-button-group class="backBtn" nzSize="large">
  <button nz-button (click)="routerReturn()">Back</button>
</nz-button-group>

<div class="flex-layout">
  <div class="image-section">
    <nz-card nzTitle="Selfie Capture" class="selfie-card">
      <div class="image-area">
        <img [src]="selfieBase64" class="selfie-img" />
      </div>
    </nz-card>
  </div>

  <div class="description-section">
    <nz-card nzTitle="Description">
      <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
        <nz-descriptions nzBordered>
          <nz-descriptions-item nzTitle="No" [nzSpan]="3">{{
            idSharedData
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tanggal" [nzSpan]="2"
            >{{ detailData.day }} , {{ detailData.date }}</nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Jam">{{
            detailData.time
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Nama Lengkap" [nzSpan]="3">{{
            detailData.fullName
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Asal Instansi / Wali" [nzSpan]="2">
            {{ detailData.whereFrom }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="No Hp">
            {{ detailData.phoneNumber }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Bertemu Dengan" [nzSpan]="3">{{
            detailData.meetWith
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Keperluan" [nzSpan]="3">{{
            detailData.necessity
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Penerima Tamu" [nzSpan]="3">{{
            penerimaTamu
          }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-skeleton>
    </nz-card>
    <nz-card nzTitle="Signature" class="signature-card">
      <div class="image-area">
        <img class="signature-img" [src]="signatureBase64" />
      </div>
    </nz-card>
  </div>
</div>
