<nz-card>
  <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning">
    <nz-table
      #basicTable
      [nzData]="dataTamu"
      nzScroll="{ x: 'auto' }"
      nzSize="middle"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Tanggal Kunjungan</th>
          <th>Jam Kunjungan</th>
          <th>Tamu</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.time }}</td>
          <td>{{ data.fullName }}</td>
          <td>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              [routerLink]="['/kunjungan/detail/', data.id]"
            >
              <i nz-icon nzType="file-search"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</nz-card>
